@import '../../btag-common/main.scss';

.ag-grid-size {
  width: 100%;
  // min-width: 70vw;
  height: 80vh;
  font-style: 1em;
}

.ag-row .ag-cell {
  display: flex;
  justify-content: flex-start;
  /* align horizontal */
  align-items: center;
}

