<div class="container position-relative">
  <div class="col-md-12 mt-5">
    <div class="mx-2">
      <div class="vh-80">
        <div class="col-md-12 mt-3 h3">
        延伸作品
      </div>

      <div class="row ml-2 mt-5 outline-button click" (click)="apiRegister()">
        <div class="col-md-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10">
          <span class="font-weight-bold">API register project</span>
        </div>
      </div>


      <div class="row ml-2 mt-3 outline-button">
        <div class="col-md-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10">
          <span class="font-weight-bold">案件管理系統</span>
        </div>
      </div>

       <div class="row ml-2 mt-3 outline-button">
        <div class="col-md-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10">
          <span class="font-weight-bold">目錄設定系統</span>
        </div>
      </div>

       <div class="row ml-2 mt-3 outline-button">
        <div class="col-md-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10">
          <span class="font-weight-bold">新冠肺炎與企業影響分析</span>
        </div>
      </div>

        <div class="row ml-2 mt-3 outline-button">
        <div class="col-md-2">
          <img [src]="rocket" alt="..." class="icon-m-size">
        </div>
        <div class="col-md-10">
          <span class="font-weight-bold">新冠肺炎資料串接</span>
        </div>
      </div>
      </div>

       <div class="row ml-2 mt-3 outline-button-end">
         <div class="col"> <img [src]="github" alt="..." class="icon-size mb-1"></div>
        <div class="col"> <img [src]="behance" alt="..." class="icon-size"></div>
        <div class="col">  <img [src]="support" alt="..." class="icon-size"></div>
        <div class="col"> <img [src]="github" alt="..." class="icon-size mb-1"></div>
      </div>




  </div>
</div>
<!-- <div class="container">
   <div class="row ml-3 outline-button-end info-bottom">
    <div class="col"> <img [src]="github" alt="..." class="icon-size mb-1"></div>
    <div class="col"> <img [src]="behance" alt="..." class="icon-size"></div>
    <div class="col">  <img [src]="support" alt="..." class="icon-size"></div>
    <div class="col"> <img [src]="github" alt="..." class="icon-size mb-1"></div>
  </div>
</div> -->
