<div class="container">
  <div class="col-md-12 mt-5">
    <div class="mx-3 text-center">
      <img [src]="image" alt="..." class="rounded info-image img-fluid">
      <div class="col-md-12 mt-3 h3">
        ALEC WANG
      </div>
      <div class="row ml-2">
        <div class="col-md-8 mt-3 text-left">
          <div class="">震旦集團 研發部</div>
          <div class="">軟體工程師</div>
        </div>
      <div class="col-md-4 mt-3">
        <img [src]="bookmark" alt="..." class="rounded bookmark-image img-fluid mt-1">
      </div>
      </div>
    </div>
    <div class="mx-3 mt-4">
      <div class="ml-4">
        <h4>簡介</h4>
        <div class="mt-2 font-size-auto">
          <div class="mt-2">交通大學分子醫學與生物工程碩士</div>
          <div class="mt-2">碩士主修：高通量定序分析，使用 R 與 Python 分析腸道微生物箘相，透過分類器及序列比對建立出預測模型</div>
        </div>
         <h4 class="mt-5">相關連結</h4>
      </div>
    </div>

  </div>
</div>
